.intro-inner
  .about-intro.about-parallax-bottom
    .dtable.hw100
      .dtable-cell.hw100
        .container.text-center
          %h1.intro-title.animated.fadeInDown  FAQ
  / /.about-intro
/ /.intro-inner
.main-container.inner-page
  .container
    .section-content
      .row
        %h1.text-center.title-1
          Preguntas
          %strong Frecuentes
        %hr.center-block.small.text-hr/
      .faq-content
        #accordion.panel-group.faq-panel{"aria-multiselectable" => "true", :role => "tablist"}
          - @posts.each do |post|
            .panel
              .panel-heading{:role => "tab", :id => "heading#{post.id}"}
                %h4.panel-title
                  %a{"aria-controls" => "collapse#{post.id}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse#{post.id}"}
                    = post.title
              .panel-collapse.collapse{:id => "collapse#{post.id}", "aria-labelledby" => "heading#{post.id}", :role => "tabpanel"}
                .panel-body
                  = post.body
= render 'partials/webstats'
