%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Body:
  = @post.body
%p
  %b Free:
  = @post.free
%p
  %b Guest:
  = @post.guest
%p
  %b Athlete:
  = @post.athlete
%p
  %b Advised:
  = @post.advised

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
