.main-container.inner-page
  .container
    .section-content
      .row
        .col-sm-8.blogLeft
          .blog-post-wrapper
            %article.blog-post-item
              .inner-box
                / blog image
                .blog-post-img
                  =link_to @post do
                    %figure
                      %img.img-responsive{:alt => "blog-post image", :src => "#{@post.cover}"}/
                / blog content
                .blog-post-content-desc
                  %span.info-row.blog-post-meta
                    %span.date
                      %i.icon-clock
                      = @post.created_at.strftime("%d/%m/%y")
                    %br
                    -if current_user.try(:admin?)
                      .text-right
                        %span.item-location
                          -if @post.free
                            %span No-Registrado:
                            %i.fa.fa-check
                        %span.item-location
                          -if @post.guest
                            %span Registrado:
                            %i.fa.fa-check
                        %span.item-location
                          -if @post.athlete
                            %span Atletas:
                            %i.fa.fa-check
                        %span.item-location
                          -if @post.advised
                            %span Asesorado:
                            %i.fa.fa-check
                    -# %span.item-location
                    -#   %i.fa.fa-comments
                    -#   Comments
                    -#   %a{:href => "#"} 0
                  .blog-post-content
                    %h2
                      =link_to @post do
                        = @post.title
                    .blog-article-text
                      = @post.body
                  .clearfix
                    .col-md-12.blog-post-bottom
                      %ul.share-this-post
                        %li Compartir en:
                        %li
                          %a.facebook{:href => "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", :target => "_blank"}
                            %i.fa.fa-facebook{"aria-hidden" => "true"}>
                        %li
                          %a.google-plus{:href => "https://twitter.com/intent/tweet?text=“#{@post.title}”%20#{request.original_url}", :target => "_blank"}
                            %i.fa.fa-twitter{"aria-hidden" => "true"}>
                        %li
                          .visible-xs
                            %a.whatsapp{:href => "whatsapp://send?text=#{request.original_url}", "data-text" => "Entrenamiento Diferencial"}
                              %i.fa.fa-whatsapp{"aria-hidden" => "true"}>
                .blog-post-footer
                  %div{:style => "clear: both"}
                  .inner
                    .blogs-comments-area
                      %h3.list-title
                        %a.post-comments{:href => ""} Comentarios
                      #respond.blogs-comment-respond
                        = render(partial: 'comments/comment', collection: @post.comments)
                        / Comment list End
                        -if current_user
                          %h3.blogs-comment-reply-title.list-title
                            DEJA UN COMENTARIO
                          = form_for [@post, Comment.new], :html => {:class => 'blogs-comment-form'} do |f|
                            .form-group
                              = f.text_area :body, placeholder: "¿Tienes una duda? Dejala aquí", class: 'form-control'
                              = f.hidden_field :user_id, :value => current_user.id
                            %br/
                            = f.submit "Enviar Comentario", class: 'btn-success btn btn-lg'
                      / #respond
          / /.blog-post-wrapper
        / blogLeft
        .col-sm-4.blogRight.page-sidebar
          =render 'posts/right'
        / page-sidebar
