!!!
%html{:lang =>"es"}
  %head
    %meta{:content => "text/html; charset=UTF-8, width=device-width, initial-scale=1.0", :"http-equiv" => "Content-Type", :name => "viewport"}/
    %title Entrenamiento Diferencial
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #wrapper
      = render 'partials/navbar'
      .space{style: "height: 80px;"}
      = yield
      = render 'partials/footer'
